.quotescontent{
    
    border: 0px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px auto;
    max-width: 700px;
    margin-bottom: 60px;

    -webkit-box-shadow: 13px 21px 28px 58px rgba(142,165,173,0.26);
    -moz-box-shadow: 13px 21px 28px 58px rgba(142,165,173,0.26);
    box-shadow: 13px 21px 28px 58px rgba(142,165,173,0.26);


}
p{
   
    margin: 5px;

    text-align: center;
    margin-bottom: 20px;
    color: #45454d;
}








