div.jumbotron{
    width: 100%;
    height: 35vh;
    color: #fff;
    background: linear-gradient(-32deg, #752107, #636862, #23a6d5, #a9f3e2);
    background-size: 400% 400%;
    -webkit-animation: Gradient 10s ease infinite;
    -moz-animation: Gradient 10s ease infinite;
    animation: Gradient  10s ease infinite;

}

@-webkit-keyframes Gradient{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }

}
@-moz-keyframes Gradient{

    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }

}

@keyframes Gradient{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}


.lead{
    text-align: center;
    font-family: Roboto;
    font-size: 45px;
    color:whitesmoke;
    padding: 25px;
}


/* home component */
div.allcontent{
    background-color: rgb(255, 255, 255);
    padding: 2px 3px;
}
div.home-contentone{
    background-color: rgb(232, 233, 230);
    height: 90px;
    
}
p.phomecont{
    padding: 33px;
    margin-bottom: 36px;
    text-align: center;
}

div.cardcont{
    margin-top: 25px;

}
div.letconect{
    height: 300px;
    margin-top: 80px;
}
p.pncard1{
    text-align: center;
    margin: 5px 5px;
    word-wrap:break-word;
}
bgcolorinf{
    background-color: whitesmoke;
}

bgcolorpri{
    background-color: whitesmoke;
}
div.card{
    border: 0px solid;

}
div .centeracont{
    justify-content: center;

}
img{
    width: 100%;
    height: auto;
}

h2, h3, h1 {
   font-size: 25px;

}
footer{
    background-color: rgb(117, 155, 145);
    margin-top: 22px;
    color: white;
    font-size: 25px;
}

footer.text-muted{
    color: white;
}

footer ul li.textcol{
    color: white;
}

